.plus_name {
	margin-bottom: 30px;
	position: relative;
	left: 522px;
}

.main_file_decide {
	float: right;
	margin-left: 15px;
}

.main_file_decide button {
	font-size: 12px;
	font-weight: 600;
	background-color: white;
	margin-left: 5px;
	width: 40px;
	height: 25px;
	border: 2px solid grey;
}

.file_explorer span.click {
	background-color: rgb(193, 231, 253);
	border: 1px solid skyblue;
}

.file_explorer span.hover:hover {
	background-color: rgb(224, 243, 254);
}
