#container {
	overflow-x: hidden;
}

ul{
    list-style-type: none;
}

ul li {
    margin: 25px 15px;
}

.span {
    color: black;
}

.head {
	display: inline-block;
    margin-top: 30px;
}

.menu {
    border-bottom: 1px solid rgb(216, 213, 213);
    width: 2000px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    padding: 0 0 0 80px;
}



.ipp_btn {
    border: none;
    padding: 15px 30px;
    font-size: 30px;
    background-color: white;
    color: rgb(79, 114, 228);
    font-weight: 600;
    margin-top: 10px;
    position: absolute; 
    left: 200px;
}

.btn {
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 25px;
    background-color:white;
    color: black;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

.menu .btn:focus,
.menu .btn:active {
    outline: none;
    box-shadow: none;
}

.write_btn {
    border: 1px solid grey;
    padding: 5px 5px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: 300;
    position: absolute; 
    top: 220px; 
    left: 470px;
}

.search_btn {
    border: 1px solid grey;
    padding: 5px 10px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 15px;
    position: absolute; 
    top: 220px; 
    left: 920px;
}

.search {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    outline: none;
    position:absolute; 
    top: 220px; 
    left: 600px;
    height: 30px; 
    width: 300px;
}

.board_all {
    font-size: 15px;
    position: absolute;
    top: 220px;
    right: 560px;
}

.board_select {
    width: 80px;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid black;
    background: url(../image/arrow_down_18dp.png) no-repeat right 50%;
    background-size: 30px;
    appearance: none;
    font-size: 15px;
    color: black;
    background-color: white ;
    position: absolute;
    top: 205px;
    right: 460px;
}

h3 {
    border-bottom: 2px solid black;
    color: black;
    font-weight: 600;
}

.board_best {
    display: inline-block;
    margin-left: 200px;
}

.best{
    display: flex;
    flex-direction: column;
}

.reply {
    display: inline-block;
    margin-top: 150px;
}

.reply li {
    font-size: 20px;
}

.reply_number {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.best_btn{
    padding: 15px;
    margin-bottom: -16px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid grey;
    font-weight: 500;
    width: 800px;
    text-align: left;
}

.user_update {
    float: right;
    margin-right: 280px;
    margin-bottom: 50px;
}

.username {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    width: 100px;
    margin-top: 20px;
    position: absolute; 
    top:50px; 
    right: 270px;
}

.board{
    border-collapse: separate; 
    width: 1000px; 
    border-spacing: 0 10px;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.board thead th{
	width: 1000px;
    border: 1px solid grey; 
    border-width: 2px 0;
    color: black;
    font-size: 20px;
    text-align: center;
}

.board td:first-child, .board th:first-child{
    width: 10%;
}

.board td:nth-child(2), .board th:nth-child(2){
    width: 55%;
}

.board td:nth-child(3), .board th:nth-child(3){
    width: 15%;
}

.board td:nth-child(4), .board th:nth-child(4){
    width: 15%;
}

.board td:nth-child(5), .board th:nth-child(5){
    width: 5%;
}

.board tbody {
	width: 1000px;
}

.board tbody tr {
    height: 50px;
    background-color: white;
    color: black;
    font-size: 17px;
}

.board tbody td {
    border: 1px solid grey;
    border-width: 1px 0;
    border-top: none;
}
    
.board tbody td a{
    text-decoration: none; 
    color: black;
}
    
.board tbody td a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.general_write {
	border:2px solid grey;
	color: grey;
	padding: 5px 0;
	text-align: center;
	width: 700px;
	font-size: 25px;
	font-weight: 600;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.title_write p {
	position: absolute; 
	left: 610px; 
	font-size: 25px;
}

.title_write input {
	position: absolute; 
	left: 680px; 
	width: 630px; 
	height: 35px; 
	font-size: 20px;
}

.content_write input {
	position: absolute; 
	left: 610px; 
	margin-top: 50px; 
	width: 700px; 
	height: 300px; 
	font-size: 15px;
}

.file_btn {
	background-color: rgb(173, 173, 173);
	border: 1px solid black;
	color:white;
    position:absolute; 
    top: 707px; 
    left: 610px;
    height: 50px; 
    width: 120px;
}

.file_name p {
	border: 1px solid grey;
	width: 570px;
	height: 100px;
	padding: 5px 10px;
	position: absolute;
	left: 740px;
	top: 707px;
}

.write_decision input {
	width: 70px;
	padding: 10px 5px;
	background-color: rgb(173, 173, 173);
	border: 1px solid black;
	color: white;
	position: absolute;
	left: 1140px;
	top: 820px;
}

.write_decision button {
	width: 70px;
	padding: 10px 5px;
	border: 1px solid black;
	background-color: white;
	position:absolute;
	left: 1240px;
	top: 820px;
}








