#container {
   overflow-x: hidden;
}

ul {
   list-style-type: none;
}

ul li {
   margin: 25px 15px;
}

.span {
   color: black;
}

.head {
   display: inline-block;
   margin-top: 30px;
}

.menu {
   border-bottom: 1px solid rgb(216, 213, 213);
   width: 2000px;
   height: 100px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu li {
   padding: 0 0 0 80px;
}



.ipp_btn {
   border: none;
   padding: 15px 30px;
   font-size: 30px;
   background-color: white;
   color: rgb(79, 114, 228);
   font-weight: 600;
   margin-top: 10px;
   position: absolute;
   left: 200px;
}

.btn {
   border: none;
   padding: 15px 30px;
   border-radius: 15px;
   font-size: 25px;
   background-color: white;
   color: black;
   font-weight: 600;
}

button:hover {
   cursor: pointer;
}

.menu .btn:focus,
.menu .btn:active {
	outline: none;
	box-shadow: none;
}

h3 {
   border-bottom: 2px solid black;
   color: black;
   font-weight: 600;
}

.board_best {
   display: inline-block;
   margin-left: 300px;
}

.best {
   display: flex;
   flex-direction: column;
}

.reply {
   display: inline-block;
   margin-top: 150px;
}

.reply li {
   font-size: 20px;
}

.reply_number {
   display: flex;
   flex-direction: column;
   line-height: 40px;
}

.best_btn {
   padding: 15px;
   margin-bottom: -16px;
   font-size: 15px;
   background-color: white;
   color: black;
   border: 2px solid grey;
   font-weight: 500;
   width: 800px;
   text-align: left;
}

.user_update {
   float: right;
   margin-right: 280px;
   margin-bottom: 50px;
}

.username {
   border-left-width: 0;
   border-right-width: 0;
   border-top-width: 0;
   border-bottom-width: 1;
   width: 100px;
   margin-top: 20px;
   position: absolute;
   top: 50px;
   right: 270px;
}

.write_btn {
	border: 1px solid grey;
	padding: 5px 5px;
	font-size: 15px;
	background-color: white;
	color: black;
	font-weight: 300;
	position: relative;
	top: 50px;
	left: 470px;
}

.type_select {
	width: 90px;
	height: 35px;
	padding: 7px;
	padding-left: 10px;
	background: url(../image/arrow_down_18dp.png) no-repeat right 50%;
	background-size: 30px;
	appearance: none;
	position: relative;
	top: 15px;
	left: 620px;
}

.search_btn {
	border: 1px solid grey;
	padding: 5px 10px;
	font-size: 15px;
	background-color: white;
	color: black;
	font-weight: 300;
	font-size: 15px;
	position: relative;
	top: 15px;
	left: 680px;
}

.search {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1;
	outline: none;
	position: relative;
	top: 15px;
	left: 650px;
	height: 30px;
	width: 300px;
}

.board_all {
	font-size: 17px;
	position: relative;
	top: -15px;
	left: 1220px;
}

.board_select {
	width: 120px;
	padding: 7px;
	padding-left: 10px;
	border: 1px solid black;
	background: url(../image/arrow_down_18dp.png) no-repeat right 50%;
	background-size: 30px;
	appearance: none;
	font-size: 15px;
	color: black;
	background-color: white;
	position: relative;
	top: -55px;
	left: 1330px;
}

.board_box {
	position: relative; 
}

.board {
	border-collapse: collapse;
	width: 1060px;
	text-align: center;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.board thead tr th {
	display: inline-block;
	position: sticky;
	top: 0;
	background-color: #fff;
	border: 1px solid grey;
	border-width: 2px 0;
	color: black;
	font-size: 20px;
	text-align: center;
}

.board tbody {
	display: inline-block;
	width: 1060px;
	max-height: 260px;
	overflow: overlay;
}

.board tbody tr {
	height: 50px;
	background-color: white;
	color: black;
	font-size: 17px;
	width: 1060px;
}
   border: 1px solid grey;
   padding: 5px 5px;
   font-size: 15px;
   background-color: white;
   color: black;
   font-weight: 300;
   position: relative;
   top: 50px;
   left: 470px;
}

.type_select {
   width: 90px;
   height: 35px;
   padding: 7px;
   padding-left: 10px;
   background: url(../image/arrow_down_18dp.png) no-repeat right 50%;
   background-size: 30px;
   appearance: none;
   position: relative;
   top: 15px;
   left: 620px;
}

.search_btn {
   border: 1px solid grey;
   padding: 5px 10px;
   font-size: 15px;
   background-color: white;
   color: black;
   font-weight: 300;
   font-size: 15px;
   position: relative;
   top: 15px;
   left: 680px;
}

.search {
   border-left-width: 0;
   border-right-width: 0;
   border-top-width: 0;
   border-bottom-width: 1;
   outline: none;
   position: relative;
   top: 15px;
   left: 650px;
   height: 30px;
   width: 300px;
}

.board_all {
   font-size: 17px;
   position: relative;
   top: -15px;
   left: 1220px;
}

.board_select {
   width: 120px;
   padding: 7px;
   padding-left: 10px;
   border: 1px solid black;
   background: url(../image/arrow_down_18dp.png) no-repeat right 50%;
   background-size: 30px;
   appearance: none;
   font-size: 15px;
   color: black;
   background-color: white;
   position: relative;
   top: -55px;
   left: 1330px;
}

.board_box {
   position: relative; 
}



.comment_box{
	position: absolute;
	top: 850px;
	margin-bottom: 50px;
}

.board {
   border-collapse: separate;
   width: 900px;
   text-align: center;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
}
.photo_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%; /* 가로 공간의 80%만 차지하도록 설정 */
    margin: 0 auto; /* 중앙 정렬을 위해 margin을 auto로 설정 */
}

.photo {
    width: calc(20% - 10px); /* 한 줄에 5개의 게시물을 표시하기 위해 (80% / 5) - 간격 값으로 설정 */
    margin: 5px; /* 게시물 간격을 설정 */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.img {
    max-width: 100%; /* 이미지 크기를 이미지 박스에 맞게 조절 */
    max-height: auto; /* 이미지 높이를 조절하지 않고 가로 비율 유지 */
}

.photo li {
    margin: 10px 0;
    text-align: center;
}


.photo p {
    margin: 5px;
    font-size: 12px;
    text-align: left;
    width: 100%;
}


.comment td {
    padding: 5px; 
}
.comment{
	border-collapse: separate;
    width: 1015px;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.comment thead tr th{
   background-color: #fff;
   border: 1px solid black;
   border-width: 0 0 2px ;
   color: black;
   font-size: 16px;
   text-align: center;
   
}
.comment td:first-child,
.comment th:first-child {
   width: 0px;
}

.comment td:nth-child(2),
.comment th:nth-child(2) {
   width: 540px;
}

.comment td:nth-child(3),
.comment th:nth-child(3) {
   width: 140px;
}

.comment td:nth-child(4),
.comment th:nth-child(4) {
   width: 169px;
}
.comment td:nth-child(5),
.comment th:nth-child(5) {
   width: 85px;
}

.comment th{
	border: 1px;
}
.child_comment {
     padding: 1px;
     width: 400px;
    margin-bottom: 50px; 
    margin-left: 80px;
    background-color: ghostwhite;
} 
.child_comment_write {
     width: 552px;
    margin-bottom: 0px; 
    margin-left: 135px;
} 

.child_comment td {
    height: 25px; 
    font-size: 12px; 
}
.comment .child_comment td:first-child,
.comment .child_comment th:first-child {
   width: 25px;
}

.comment .child_comment td:nth-child(2),
.comment .child_comment th:nth-child(2) {
   width: 150px;
}
.comment .child_comment td:nth-child(2)::before {
    content: '\2192';
    padding-right: 10px;
}

.comment .child_comment td:nth-child(3),
.comment .child_comment th:nth-child(3) {
   width: 450px;
}

.comment .child_comment td:nth-child(4),
.comment .child_comment th:nth-child(4) {
   width: 140px;
}
.comment .child_comment td:nth-child(5),
.comment .child_comment th:nth-child(5) {
   width: 140px;
}
.board thead tr th {
   display: inline-block;
   position: sticky;
   top: 0;
   background-color: #fff;
   border: 1px solid grey;
   border-width: 2px 0;
   color: black;
   font-size: 20px;
   text-align: center;
}

.board tbody {
   display: inline-block;
   width: 1060px;
   max-height: 250px;
   overflow: overlay;
}

.board tbody tr {
   height: 50px;
   background-color: white;
   color: black;
   font-size: 17px;
   width: 1060px;
}

.board td:first-child,
.board th:first-child {
   width: 106px;
}

.board td:nth-child(2),
.board th:nth-child(2) {
   width: 583px;
}

.board td:nth-child(3),
.board th:nth-child(3) {
   width: 159px;
}

.board td:nth-child(4),
.board th:nth-child(4) {
   width: 212px;
}


.board td:first-child,
.board th:first-child {
	width: 106px;
}

.board td:nth-child(2),
.board th:nth-child(2) {
	width: 583px;
}

.board td:nth-child(3),
.board th:nth-child(3) {
	width: 159px;
}

.board td:nth-child(4),
.board th:nth-child(4) {
	width: 212px;
}


.board tbody td {
   border: 1px solid grey;
   border-width: 1px 0;
   border-top: none;
}

.board tbody td a {
   text-decoration: none;
   color: black;
}

.board tbody td a:hover {
   text-decoration: underline;
   cursor: pointer;
}

.general_write {
   border: 2px solid grey;
   color: grey;
   padding: 5px 0;
   text-align: center;
   width: 700px;
   font-size: 25px;
   font-weight: 600;
   margin-top: 50px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
}

.title_write p:first-child {
   position: absolute;
   left: 610px;
   font-size: 25px;
}

.title_write p:nth-child(2) {
   position: absolute;
   left: 700px;
   font-size: 25px;
}


.title_write input {
   position: absolute;
   left: 680px;
   width: 630px;
   height: 35px;
   font-size: 20px;
}

.content_write textarea {
   padding: 15px;
   position: absolute;
   left: 610px;
   margin-top: 50px;
   width: 700px;
   height: 300px;
   font-size: 15px;
}

.file_btn {
	background-color: rgb(173, 173, 173);
	border: 1px solid black;
	color: white;
	position: absolute;
	top: 690px;
	left: 610px;
	height: 100px;
	width: 120px;
}

.file_name {
	border: 1px solid grey;
	width: 570px;
	height: 100px;
	padding: 5px 10px;
	position: absolute;
	left: 740px;
	top: 690px;
	overflow: overlay;
}

.write_decision input {
	width: 70px;
	padding: 10px 5px;
	background-color: rgb(173, 173, 173);
	border: 1px solid black;
	color: white;
	position: absolute;
	left: 1140px;
	top: 820px;
}

.write_decision button {
	width: 70px;
	padding: 10px 5px;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	left: 1240px;
	top: 820px;
}

strong {
   position: absolute;
   top: 220px;
   left: 360px;
   font-size: 25px;
}

.board_wrap {
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 150px;
}

.board_view {
   width: 100%;
   border-top: 2px solid black;
   font-size: 20px;
}

.board_view .title {
   padding: 20px 15px;
   border-bottom: 1px dashed #ddd;
   font-size: 20px;
   font-weight: 600;
}

.board_view .info {
   padding: 15px;
   border-bottom: 1px solid #999;
}

.board_view .info dl {
   display: inline-block;
   padding: 0 20px;
}

.board_view .info dl:first-child {
   padding-left: 0;
}

.board_view .info dl dt,
.board_view .info dl dd {
   display: inline-block;
   font-size: 17px;
}

.board_view .info dl dd {
   margin-left: 10px;
   color: #777;
}

.board_view .content {
   padding: 20px;
   border-bottom: 1px solid black;
   line-height: 160%;
   font-size: 15px;
   min-height: 300px;
}

.read_btn {
	position: absolute;
	right: 470px;
	margin-top: 85px;
}

.read_btn button {
   display: inline-block;
   min-width: 70px;
   margin-left: 30px;
   padding: 5px;
   font-size: 15px;
}

.read_btn button:first-child {
   background-color: rgb(173, 173, 173);
   color: white;
}

.read_btn button:nth-child(2) {
   background-color: white;
}

pre {
	background-color: white;
	border: none;
}

.reset_btn {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    width: 100px;
    position: absolute;
    right: 610px;
    top: 630px;
}
   background-color: white;
   border: none;
}
.child_write_box{
    width: 200px;
}
.comment_write {
	position: absolute;
	left: 350px;
}
.comment_container {
    display: flex;
    align-items: center;
}

.textarea_container {
    flex: 1;
    margin-right: 10px;
}

.comment_write_btn {
	height: 95px;
	width: 54px;
    margin-left: -7px;
    align-self: flex-start;
}
.comment_write_box {
	width: 960px;
	height: 95px;
}
.comment_box{
	
	position: absolute;
	left: 350px;
	width: 1000px;
	margin-top: 50px;
	
}
.save_btn {
	margin-left: 10px;
	height: 35px;
	width: 50px;
}
.child_save_btn {
    margin-top: 0px;
    height: 24px;
    width: 32px;
    padding: 2px 1px;
    text-align: center;
    font-size: 11px;
    right: 20px;
}
.child_delete_btn {
    margin-top: 0px;
    height: 24px;
    width: 32px;
    padding: 2px 1px;
    text-align: center;
    font-size: 11px;
}


.delete_btn{
	margin-left: 0px;
    margin-top: 0px;
    height: 24px;
    width: 32px;
    padding: 2px 1px;
    text-align: center;
    font-size: 11px;
}
.update_btn{
	margin-left: 0px;
    margin-top: 0px;
    height: 24px;
    width: 32px;
    padding: 2px 1px;
    text-align: center;
    font-size: 11px;
}
.child_comment_btn{
	margin-left: 0px;
    margin-top: 0px;
    height: 24px;
    width: 32px;
    padding: 2px 1px;
    text-align: center;
    font-size: 11px;
}
.child_comment_btn.hidden{
	display: none;
}

.update_write_box{
	 width: 400px;
    margin-left: 52px;
}






























