#container {
	overflow-x: hidden;
	width: 100%;
}
body {
  margin: 0 auto;
}

ul {
	list-style-type: none;
}

ul li {
	margin: 0px 15px;
}

.span {
	color: black;
}

.head {
	display: inline-block;
	margin-top: 30px;
}

.menu {
	width: 100%;
	margin-top: 30px;
	border-bottom: 1px solid rgb(216, 213, 213);
	height: 100px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu li {
	padding: 0 0 0 80px;
}

.ipp_btn {
	border: none;
	padding: 15px 30px;
	font-size: 35px;
	background-color: white;
	color: rgb(79, 114, 228);
	font-weight: 600;
	position: relative;
	right: 50px;
}

.btn {
	border: none;
	padding: 15px 30px;
	border-radius: 15px;
	font-size: 25px;
	background-color: white;
	color: black;
	font-weight: 600;
}

button:hover {
	cursor: pointer;
}

.menu .btn:focus,
.menu .btn:active {
	outline: none;
	box-shadow: none;
}

.menu a {
	padding: 5px;
	color: black;
	font-size: 15px;
}

.menu a:hover {
	cursor: pointer;
}

.menu p {
	display: inline;
	font-size: 18px;
}

.user {
	display: block;
	margin-bottom: 5px;
}

.user span{
	padding: 3px;
	margin-right: 8px;
	border-bottom: 1px solid black;
	font-size: 17px;
	font-weight: 500;
	color: black;
}

h3 {
	width: 1016px;
	border-bottom: 2px solid rgb(79, 114, 228);
	color: rgb(79, 114, 228);
	font-weight: 600;
}

.board_best {
	display: inline-block;
	margin-left: 480px;
	margin-top: 50px;
}

.best {
	display: flex;
	margin-bottom: 10px;
	margin-left: 8px;
}

.best td {
	font-size: 18px;
	height: 61.5px;
	border: 1px solid gray;
	border-left: none;
	border-right: none;
	border-top: none;
}

.general_best td a {
	display: inline-block;
	max-width: 700px;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: black;
}

.photo_best td a {
	display: inline-block;
	max-width: 600px;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: black;
}

.best span {
	color: rgb(79, 114, 228);
	shape-outside: border-box;
}

.general_best td:first-child {
	width: 800px;
	padding-left: 10px;
	max-width: 800px;
}

.general_best td:nth-child(2) {
	width: 200px;
	font-size: 15px;
	text-align: right;
	padding-right: 10px;
}

.photo_best td:first-child {
	width: 100px;
}

.photo_best td:nth-child(2) {
	width: 700px;
	padding-left: 10px;
	max-width: 700px;
}

.photo_best td:nth-child(3) {
	width: 200px;
	font-size: 15px;
	text-align: right;
	padding-right: 10px;
}

.best img {
	width: 100px;
	height: 60px;
	border: 1px solid grey;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.best img:hover {
	cursor: pointer;
}

.best td a:hover {
	cursor: pointer;
}

.like_count {
	font-size: 15px;
	margin-left: 15px;
	margin-top: -4px;
	font-weight: 100;
	color: rgb(79, 114, 228);
}

.board_option {
	justify-content: flex-start;
	width: 70%;
	margin: -10px auto;
	margin-top: 30px;
}

.write_btn {
	border: 1px solid grey;
	padding: 5px 5px;
	font-size: 15px;
	background-color: white;
	color: black;
	font-weight: 300;
	position: relative;
	left: 150px;
	top: 30px;
}

.type_select {
	width: 90px;
	height: 35px;
	padding: 7px;
	padding-left: 10px;
	background: url(../image/arrow_down_18dp.png) no-repeat right 50%;
	background-size: 30px;
	appearance: none;
	position: relative;
	top: 30px;
	left: 190px;
}

.search_btn {
	border: 1px solid grey;
	padding: 5px 10px;
	font-size: 15px;
	background-color: white;
	color: black;
	font-weight: 300;
	font-size: 15px;
	position: relative;
	top: 30px;
	left: 240px;
}

.search {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1;
	outline: none;
	position: relative;
	top: 30px;
	left: 220px;
	height: 30px;
	width: 300px;
}

.search_reset {
	border: 1px solid grey;
	font-size: 13px;
	background-color: white;
	position: relative;
	top: 30px;
	left: 270px;
	height: 34px;
}

.board_all {
	font-size: 17px;
	position: relative;
	top: 0px;
	left: 950px;
}

.board_select {
	width: 120px;
	padding: 7px;
	padding-left: 10px;
	border: 1px solid black;
	appearance: none;
	font-size: 15px;
	color: black;
	background-color: white;
	background: url(../image/arrow_down_18dp.png) no-repeat right 50%;
	background-size: 30px;
	position: relative;
	top: -40px;
	left: 1050px;
}

.board_box {
	position: relative;
}

.board {
	border-collapse: collapse;
	width: 1060px;
	text-align: center;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.board tbody {
	display: inline-block;
	width: 1060px;
	max-height: 251px;
	overflow: overlay;
}

.board tbody tr {
	height: 50px;
	background-color: white;
	color: black;
	font-size: 17px;
	width: 1060px;
}

.comment_box {
	position: relative;
	top: 850px;
	margin-bottom: 50px;
}

.photo_box {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	left: 18%;
}

.photo_box .img-button {
	max-width: 100%;
	text-align: center;
	margin: 19px;
	width: 160px;
}

.photo_box .img-button img {
	width: 100%;
	height: auto;
}

.photo_box .img-button p {
	margin: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.photo_span {
	float: left;
	font-size: 12px;
}

.photo {
	width: calc(20% - 10px);
	/* 한 줄에 5개의 게시물을 표시하기 위해 (80% / 5) - 간격 값으로 설정 */
	margin: 5px;
	/* 게시물 간격을 설정 */
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

.img {
	max-width: 100%;
	/* 이미지 크기를 이미지 박스에 맞게 조절 */
	max-height: auto;
	/* 이미지 높이를 조절하지 않고 가로 비율 유지 */
}

.photo li {
	margin: 10px 0;
	text-align: center;
}


.photo p {
	margin: 5px;
	font-size: 12px;
	text-align: left;
	width: 100%;
}

.photo_p_title {
	text-align: center;
	font-size: 12px;
}

.photo_p {
	text-align: center;
	font-size: 12px;
}

.photo_p_date {
	text-align: center;
	font-size: 11px;
}

.none_search span{
	padding-left: 550px;
	font-size: 17px;
}

.comment td {
	padding: 5px;
}

.comment {
	border-collapse: separate;
	width: 1015px;
	text-align: center;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.comment thead tr th {
	background-color: #fff;
	border: 1px solid black;
	border-width: 0 0 2px;
	color: black;
	font-size: 16px;
	text-align: center;

}

.comment td:first-child,
.comment th:first-child {
	width: 0px;
}

.comment td:nth-child(2),
.comment th:nth-child(2) {
	width: 540px;
}

.comment td:nth-child(3),
.comment th:nth-child(3) {
	width: 140px;
}

.comment td:nth-child(4),
.comment th:nth-child(4) {
	width: 169px;
}

.comment td:nth-child(5),
.comment th:nth-child(5) {
	width: 85px;
}

.comment th {
	border: 1px;
}

.child_comment {
	padding: 1px;
	width: 400px;
	margin-bottom: 50px;
	margin-left: 80px;
	background-color: ghostwhite;
}

.child_comment_write {
	width: 552px;
	margin-bottom: 0px;
	margin-left: 135px;
}

.child_comment td {
	height: 25px;
	font-size: 12px;
}

.comment .child_comment td:first-child,
.comment .child_comment th:first-child {
	width: 25px;
}

.comment .child_comment td:nth-child(2),
.comment .child_comment th:nth-child(2) {
	width: 150px;
}

.comment .child_comment td:nth-child(2)::before {
	content: '\2192';
	padding-right: 10px;
}

.comment .child_comment td:nth-child(3),
.comment .child_comment th:nth-child(3) {
	width: 450px;
}

.comment .child_comment td:nth-child(4),
.comment .child_comment th:nth-child(4) {
	width: 140px;
}

.comment .child_comment td:nth-child(5),
.comment .child_comment th:nth-child(5) {
	width: 140px;
}

.board thead tr th {
	display: inline-block;
	position: sticky;
	top: 0;
	background-color: #fff;
	border: 1px solid grey;
	border-width: 2px 0;
	color: black;
	font-size: 20px;
	text-align: center;
}

.board td:first-child,
.board th:first-child {
	width: 106px;
}

.board td:nth-child(2),
.board th:nth-child(2) {
	width: 583px;
}

.board td:nth-child(3),
.board th:nth-child(3) {
	width: 159px;
}

.board td:nth-child(4),
.board th:nth-child(4) {
	width: 212px;
}

.board tbody td {
	border: 1px solid grey;
	border-width: 1px 0;
	border-top: none;
}

.board tbody .board_list td {
	border: 1px solid grey;
	border-width: 1px 0;
	border-top: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 583px;
}

.board tbody td a {
	text-decoration: none;
	color: black;
}

.board tbody td a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.general_write {
	border: 2px solid grey;
	color: grey;
	padding: 5px 0;
	text-align: center;
	width: 700px;
	font-size: 25px;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.title_write p:first-child {
	position: absolute;
	left: 610px;
	font-size: 25px;
}

.title_write p:nth-child(2) {
	position: absolute;
	left: 700px;
	font-size: 25px;
}


.title_write input {
	position: absolute;
	left: 680px;
	width: 630px;
	height: 35px;
	font-size: 20px;
}

.content_write textarea {
	padding: 15px;
	position: absolute;
	left: 610px;
	margin-top: 50px;
	width: 700px;
	height: 300px;
	font-size: 15px;
	resize: none;
}

.file_btn {
	background-color: rgb(173, 173, 173);
	border: 1px solid black;
	color: white;
	position: absolute;
	top: 650px;
	left: 610px;
	height: 100px;
	width: 120px;
}

.file_name {
	border: 1px solid grey;
	width: 570px;
	height: 100px;
	padding: 5px 10px;
	position: absolute;
	left: 740px;
	top: 650px;
	overflow: overlay;
}

.file_name div {
	margin-bottom: 5px;
}

.file_name button {
	width: 40px;
	height: 19px;
	background-color: white;
	border: 1px solid gray;
	color: red;
	margin-left: 15px;
	font-size: 12px;
}

.write_decision input {
	width: 70px;
	padding: 10px 5px;
	background-color: rgb(173, 173, 173);
	border: 1px solid black;
	color: white;
	position: absolute;
	left: 1140px;
	top: 780px;
}

.write_decision button {
	width: 70px;
	padding: 10px 5px;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	left: 1240px;
	top: 780px;
}

strong {
	position: relative;
	top: 120px;
	left: 470px;
	font-size: 25px;
}

.board_wrap {
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 50px;
}

.board_view {
	width: 100%;
	border-top: 2px solid black;
	font-size: 20px;
}

.board_view a {
	font-size: 15px;
	margin-left: 20px;
}

.board_view p {
	font-weight: 600;
	margin-left: 10px;
	margin-top: 20px;
}

.board_view .title {
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 20px;
	font-weight: 600;
	word-break: break-all;
}

.board_view .info {
	padding: 15px;
	border-bottom: 1px solid #999;
}

.board_view .info dl {
	display: inline-block;
	padding: 0 20px;
}

.board_view .info p {
	margin-left: 50px;
}

.board_view .info dl dt,
.board_view .info dl dd {
	display: inline-block;
	font-size: 17px;
}

.board_view .info dl dd {
	margin-left: 10px;
	color: #777;
}

.board_view .pre-container {
	position: relative;
}

.board_view .content {
	padding: 20px;
	border-bottom: 1px solid black;
	line-height: 160%;
	font-size: 15px;
	min-height: 300px;
	text-align: left;
	padding: 20px 10px;
	padding-bottom: 150px;
	position: relative;
}

.board_view .like_btn {
	width: 50px;
	height: 50px;
	position: relative;
	bottom: 120px;
	left: 500px;
	transform: translateX(-50%);
}

.board_view .like_btn:hover {
	cursor: pointer;
}

.like {
	color: rgb(79, 114, 228);
	text-align: center;
	width: 200px;
	position: relative;
	bottom: 130px;
	left: 495px;
	transform: translateX(-50%);
}

.board_file {
	margin-top: -50px;
}

.read_btn {
	position: relative;
	float: right;
	margin-top: 120px;
	margin-right: 470px;
}

.read_btn button {
	display: inline-block;
	min-width: 70px;
	margin-left: 30px;
	padding: 5px;
	font-size: 15px;
	height: 35px;
}

.update_btn {
	background-color: rgb(173, 173, 173);
	color: white;
}

.delete_btn {
	background-color: white;
}

pre {
	background-color: white;
	border: none;
}

.child_write_box {
	width: 200px;
}

.comment_write {
	width: 1000px;
	position: relative;
	left: 460px;
}

.comment_ {
	display: flex;
	align-items: center;
}


.textarea_container textarea {
	resize: none;
}

.comment_write_btn {
	height: 95px;
	width: 50px;
	margin-left: -7px;
	align-self: flex-start;
	position: absolute;
	left: 960px;
}

.comment_write_box {
	width: 950px;
	height: 95px;
}

.comment_box {
	position: relative;
	left: 450px;
	width: 1000px;
	top: 10px;
}

.save_btn {
	margin-left: 10px;
	height: 35px;
	width: 50px;
}

.child_save_btn {
	margin-top: 0px;
	height: 24px;
	width: 32px;
	padding: 2px 1px;
	text-align: center;
	font-size: 11px;
	right: 20px;
}

.child_delete_btn {
	margin-top: 0px;
	height: 24px;
	width: 32px;
	padding: 2px 1px;
	text-align: center;
	font-size: 11px;
}

.delete_btn {
	margin-left: 0px;
	margin-top: 0px;
	height: 24px;
	width: 32px;
	padding: 2px 1px;
	text-align: center;
	font-size: 11px;
}

.update_btn {
	margin-left: 0px;
	margin-top: 0px;
	height: 24px;
	width: 32px;
	padding: 2px 1px;
	text-align: center;
	font-size: 11px;
}

.child_comment_btn {
	margin-left: 0px;
	margin-top: 0px;
	height: 24px;
	width: 32px;
	padding: 2px 1px;
	text-align: center;
	font-size: 11px;
}

.child_comment_btn.hidden {
	display: none;
}

.update_write_box {
	width: 400px;
	margin-left: 52px;
}

.file_title {
	border: 2px solid grey;
	color: grey;
	padding: 5px 0;
	text-align: center;
	width: 700px;
	font-size: 25px;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.file_explorer {
	border: 2px solid grey;
	width: 700px;
	height: 500px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	overflow-y: overlay;
}

.file_explorer ul {
	padding-left: 0px;
}

.file_explorer img:hover {
	cursor: pointer;
}

.file_explorer span {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
	font-size: 15px;
	font-weight: 600;
}

.file_explorer ul li {
	margin-top: 10px;
	margin-right: 0px;
}

.folder_close {
	width: 20px;
	height: 20px;
	content: url(/static/image/caret-right-solid.svg);
}

.folder_open {
	width: 20px;
	height: 20px;
	content: url(/static/image/caret-right-solid.svg);
	transform: rotate(90deg);
}

.folder_icon {
	width: 20px;
	height: 20px;
	content: url(/static/image/folder-regular.svg);
}

.file_icon {
	margin-left: 24px;
	width: 20px;
	height: 20px;
	content: url(/static/image/file-regular.svg)
}

.file_remove {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: right;
	content: url(/static/image/trash-can-solid.svg);
}

.file_download {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: right;
	content: url(/static/image/download-solid.svg);
}

.file_plus {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: right;
	content: url(/static/image/file-plus-solid.svg);
}

.folder_plus {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: right;
	content: url(/static/image/folder-plus.svg);
}

.file_explorer .folder_icon:hover,
.file_explorer .file_icon:hover {
	cursor: default;
}

.main_plus {
	width: 120px;
	position: relative;
	left: 1180px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.plus_name {
	margin-bottom: 20px;
	position: relative;
	left: 1150px;
}

.plus_name span {
	margin-left: 14px;
	font-weight: 600;
}

.main_folder_plus {
	width: 30px;
	content: url(/static/image/folder-plus.svg);
}

.main_file_plus {
	margin-left: 42px;
	width: 30px;
	content: url(/static/image/file-plus-solid.svg);
}

.main_file_plus:hover,
.main_folder_plus:hover {
	cursor: pointer;
}

.file_name_box {
	margin-left: 10px;
	width: 480px;
	height: 25px;
}

.file_decide {
	float: right;
	margin-right: 20px;
}

.file_decide button {
	font-size: 12px;
	font-weight: 600;
	background-color: white;
	margin-left: 5px;
	width: 40px;
	height: 25px;
	border: 2px solid grey;
}

.file_update {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: right;
	content: url(/static/image/pen-to-square-regular.svg);
}

.main_file_decide {
	float: right;
	margin-left: 15px;
}

.main_file_decide button {
	font-size: 12px;
	font-weight: 600;
	background-color: white;
	margin-left: 5px;
	width: 40px;
	height: 25px;
	border: 2px solid grey;
}

.file_explorer span.click {
	background-color: rgb(193, 231, 253);
}

.file_explorer span:hover {
	background-color: rgb(224, 243, 254);
}

.login_title {
	font-size: 45px;
	position: absolute;
	left: 847px;
	top: 150px;
	color: rgb(79, 114, 228);
}

.login_title span {
	margin-left: 30px;
	color: black;
}

.login_id {
	position: absolute;
	left: 710px;
	top: 290px;
	font-size: 20px;
	padding: 10px;
	height: 30px;
	width: 500px;
}

.login_pw {
	position: absolute;
	left: 710px;
	top: 360px;
	font-size: 20px;
	padding: 10px;
	height: 30px;
	width: 500px;
}

.login_btn {
	position: absolute;
	left: 710px;
	top: 470px;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	background-color: black;
	color: white;
	height: 60px;
	width: 524px;
}

.signup_btn {
	position: absolute;
	left: 710px;
	top: 540px;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	background-color: white;
	color: black;
	height: 60px;
	width: 524px;
}

.login_alert {
	position: absolute;
	left: 710px;
	top: 410px;
	color: red;
	font-weight: 500;
}

.signup_title {
	font-size: 40px;
	position: absolute;
	left: 847px;
	top: 150px;
}

.key_input {
	position: absolute;
	left: 1330px;
	top: 240px;
	font-weight: 600;
}

.key_input span {
	color: red;
}

.signup_input {
	padding-left: 30px;
	padding-right: 30px;
	border-collapse: separate;
    border-spacing: 0 20px;
	position: absolute;
	top: 290px;
	left: 500px;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
}

.signup_item {
	font-size: 22px;
	font-weight: 600;
	width: 150px;
	padding: 2px;
}

.signup_item span {
	color: red;
}

.id_check {
	margin-left: -170px;
	width: 150px;
	height: 45px;
	font-size: 20px;
	font-weight: 600;
	background-color: white;
	border: 2px solid rgb(79, 114, 228);
	color: rgb(79, 114, 228);
}

.signup_input input {
	padding-left: 10px;
	margin-left: 10px;
	font-size: 18px;
	height: 40px;
	width: 500px;
}

.signup_input span {
	font-size: 20px;
}

.email_input {
	width: 230px;
}

.signup_decision {
	position: absolute;
	top: 750px;
	left: 840px;
}

.signup_submit {
	font-size: 20px;
	width: 100px;
	height: 50px;
	font-weight: 600;
	background-color: white;
	border: 2px solid rgb(79, 114, 228);
	color: rgb(79, 114, 228);
	margin-right: 30px;
}

.signup_cancel {
	font-size: 20px;
	width: 100px;
	height: 50px;
	font-weight: 600;
	background-color: white;
	border: 2px solid black;
	color: black;
}
