<div id="container" ng-controller="BoardChart">

	<div class="chart_title">차트</div>

	<div class="today_visitor">오늘 방문자 수: {{todayVisitor}}</div>
	<div class="today_post">오늘 게시글 수: {{todayPost}}</div>

	<canvas class="visitor_chart chart-line" chart-data="visitorData" chart-labels="visitorLabels" chart-series="visitorSeries"
		chart-options="options" chart-dataset-override="visitorDataset" width="600" height="400">
	</canvas>
	
	<canvas class="post_chart chart-line" chart-data="postData" chart-labels="postLabels" chart-series="postSeries"
		chart-options="options" chart-dataset-override="postDataset" width="600" height="400">
	</canvas>

</div>