<div id="container" ng-controller="BoardFile">

	<div class="file_title">파일 탐색기</div>

	<div class="file_explorer">
		<ul ng-repeat="item in files" ng-class="{'files': hasExtension(item.name)}">
			<li ng-if="item.subFiles !== undefined">
				<img ng-src="{{folderState[$index].imgSrc}}" ng-click="folder($index)">
				<img src="/static/image/folder-regular.svg">
				<span>{{item.name}}</span>
				<img class="file_crud" src="/static/image/trash-can-solid.svg">
				<img class="file_crud" src="/static/image/square-plus-regular.svg">

				<ul ng-repeat="subItem in item.subFiles" ng-if="folderState[$parent.$index].extend">
					<li class="subFiles" ng-if="item.subFiles !== undefined">
						<img ng-src="{{folderState[$index].imgSrc}}" ng-click="folder($index, $parent.$index)">
						<img src="/static/image/folder-regular.svg">
						<span>{{subItem.name}}</span>
						<img class="file_crud" src="/static/image/trash-can-solid.svg">
						<img class="file_crud" src="/static/image/square-plus-regular.svg">

						<ul ng-repeat="subsubItem in subItem.subFiles" ng-if="folderState[$parent.$index].extend">
							<li class="subFiles" ng-if="subsubItem.subFiles !== undefined">
								<img ng-src="{{folderState[$index].imgSrc}}" ng-click="folder($index, $parent.$parent.$index)">
								<img src="/static/image/folder-regular.svg">
								<span>{{subsubItem.name}}</span>
								<img class="file_crud" src="/static/image/trash-can-solid.svg">
								<img class="file_crud" src="/static/image/square-plus-regular.svg">
							</li>
							<li ng-if="subsubItem.subFiles == undefined">
								<img src="/static/image/file-regular.svg"><span>{{subsubItem.name}}</span>
								<img class="file_crud" src="/static/image/trash-can-solid.svg">
								<img class="file_crud" src="/static/image/download-solid.svg">
							</li>
						</ul>
					</li>
					<li ng-if="item.subFiles == undefined">
						<img src="/static/image/file-regular.svg"><span>{{subItem.name}}</span>
						<img class="file_crud" src="/static/image/trash-can-solid.svg">
						<img class="file_crud" src="/static/image/download-solid.svg">
					</li>
				</ul>
			</li>

			<li ng-if="item.subFiles == undefined"><img src="/static/image/file-regular.svg"><span>{{item.name}}</span>
				<img class="file_crud" src="/static/image/trash-can-solid.svg">
				<img class="file_crud" src="/static/image/download-solid.svg">
			</li>
		</ul>
	</div>

</div>