
<body ng-app="myApp">
	<div id="container" ng-controller="BoardUpdate">

		<div class="general_write">일반게시판 글쓰기</div>

		<div class="title_write">
			<p>제목</p>
			<p>{{board.title}}</p>
		</div>
		 <form>
			<div class="content_write">
				<textarea name="text" required ng-model="board.text"></textarea>
			</div>
			<div>
				<button type="button" class="file_btn">파일선택<br>(최대 100MB)</button>
			</div>

			<div class="file_name">
				<p>IPP 인턴 프로젝트 설계서.pptx<br>
					IPP 프로젝트 일정.txt</p>
			</div>

			<div class="write_decision">
				<input type="button" ng-click="update(board.index)" value="수정">
				<button type="button" ng-click="cancleUpdate()">취소</button>
			</div>
		</form>
	</div>
</body>