<div ng-app="myApp">
	<div id="container" ng-controller="BoardWrite">

		<div class="general_write">일반게시판 글쓰기</div>

		<div class="title_write">
			<p>제목</p>
			<input id="title" type="text" ng-model="board.title" required>
		</div>

		<div class="content_write">
			<textarea id="contents" ng-model="board.text" required></textarea>
		</div>

		<div>
			<button type="button" class="file_btn">파일선택<br>(최대 100MB)</button>
		</div>

		<div class="file_name">
			<p></p>
		</div>

		<div class="write_decision">
			<input type="button" ng-click="insert()" value="작성완료">
			<button type="button" ng-click="redirectToBoard()">취소</button>
		</div>
	</div>
</div>