<div id="container" ng-controller="BoardWrite">

	<div class="general_write">일반게시판 글쓰기</div>


	<!-- 시작: 제목 작성 박스 -->
	<div class="title_write">
		<p>제목</p>
		<input id="title" type="text" ng-model="board.title" required>
	</div>
	<!-- 끝: 제목 작성 박스 -->


	<!-- 시작: 내용 작성 박스 -->
	<div class="content_write">
		<textarea id="contents" ng-model="board.text" required></textarea>
	</div>
	<!-- 끝: 내용 작성 박스 -->


		<!-- 시작: 파일선택 초기화 버튼 -->
	<div>
		<button class="reset_btn" ng-click="resetFile()">파일선택<br>초기화</button>
	</div>
	<!-- 끝: 파일선택 초기화 버튼 -->


	<!-- 시작: 파일선택 버튼 -->
	<div>
		<input type="file" id="fileInput" name="files" style="display: none;" file-model="files"
			ngf-select="onFileSelect($files)"
			accept=".hwp, .hwpx, .pdf, .txt, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .zip" multiple>
		<button class="file_btn" ng-click="selectFile()">파일선택<br>(최대 100MB)</button>
		
	</div>
	<!-- 끝: 파일선택 버튼 -->


	<!-- 시작: 파일이름 표시 박스 -->
	<div class="file_name">
		<div ng-repeat="fileName in fileNames">{{fileName}}</div>
	</div>
	<!-- 끝: 파일이름 표시 박스 -->


	<!-- 시작: 게시글 작성완료 및 취소 버튼 -->
	<div class="write_decision">
		<input type="button" ng-click="insert()" value="작성완료">
		<button ng-click="redirectToBoard()">취소</button>
	</div>
	<!-- 끝: 게시글 작성완료 및 취소 버튼 -->
	
	
</div>