<div id="container" ng-controller="BoardCtrl">
	<div>
		<button type="button" class="write_btn" ng-click="redirectToWrite()">글쓰기</buttton>
	</div>

	<div>
		<select class="type_select" ng-model="searchType" ng-change="changeSearchType(searchType)"
			ng-options="type.value as type.name for type in types"></select>
		<input type="text" class="search" ng-model="keyword" placeholder="검색어 입력">
		<button type="button" class="search_btn" ng-click="search()">검색</buttton>
	</div>

	<div>
		<p class="board_all">전체 {{totalItems}}개</p>
		<select class="board_select" ng-model="itemsPerPage" ng-change="setItemsPerPage()"
			ng-options="option.value as option.name for option in options"></select>
	</div>

	<div class="board_box">
		<table class="board">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in boardlist">
					<td>{{item.index}}</td>
					<td><a ng-click="redirectToRead(item.index)">{{item.title}}</a></td>
					<td>{{item.userId}}</td>
					<td>
						{{item.createDate | date:'yyyy-MM-dd'}}<br>{{item.createDate | date:'HH:mm:ss'}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
			ng-change="changePage()" items-per-page="itemsPerPage" class="pagination-lg" previous-text="&lsaquo;"
			next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
		</ul>
	</div>
</div>