<div id="container" ng-controller="BoardMain">


	<!-- 시작: 베스트 게시글 박스 -->
	<div class="board_best">
		<h3>게시글 베스트</h3>
		<ul class="best" ng-repeat="item in board">
			<li>
				<button type="button" class="best_btn1" ng-if="item.category == 0"
					ng-click="redirectToReadGeneralBoard(item.index)">{{item.title}}</button>
				<img ng-src="{{thumbnail(item.file[0])}}" ng-if="item.category == 1" 
					ng-click="redirectToReadPhotoBoard(item.index)">
				<button type="button" class="best_btn2" ng-if="item.category == 1"
					ng-click="redirectToReadPhotoBoard(item.index)">{{item.title}}
				<span class="like_count">({{item.likeCount}})</span>
				<span class= "user_Id">{{item.userId}} | {{item.createDate | date:'HH:mm:ss'}}</span>
				</button>
			</li>
		</ul>
	</div>
	<!-- 끝: 베스트 게시글 박스 -->


</div>