

<body ng-app="myApp">
    <div id="container" ng-controller="BoardCtrl">

    <div class="board_best">
        <h3>게시글 베스트</h3>
        <ul class="best">
            <li><button type="button" class="best_btn" onclick="location.href='#' ">게시물 1</button></li>
            <li><button type="button" class="best_btn" onclick="location.href='#' ">게시물 2</button></li>
            <li><button type="button" class="best_btn" onclick="location.href='#' ">게시물 3</button></li>
            <li><button type="button" class="best_btn" onclick="location.href='#' ">게시물 4</button></li>  
        </ul>
    </div>
    <div class="reply">
        <ul class="reply_number">
            <li>(125)</li>
            <li>(103)</li>
            <li>(88)</li>
            <li>(52)</li>
        </ul>
    </div>
</div>
</body>
