<div id="container" ng-controller="BoardCtrl">
    <div>
        <button type="button" class="write_btn" ng-click="redirectToWrite()">글쓰기</button>
    </div>

    <div>
        <select class="type_select" ng-model="searchType" ng-change="changeSearchType(searchType)"
            ng-options="type.value as type.name for type in types"></select>
        <input type="text" class="search" ng-model="keyword" ng-keydown="$event.keyCode === 13 && search()" placeholder="검색어 입력">
        <button class="search_btn" ng-click="search()">검색</button>
        <button class=search_reset ng-click="searchReset()">검색 초기화</button>
    </div>

    <div>
        <p class="board_all">전체 {{totalItems}}개</p>
        <select class="board_select" ng-model="itemsPerPage" ng-change="setItemsPerPage()"
            ng-options="option.value as option.name for option in options"></select>
    </div>

   <div class ="photo_box">
		<ul class ="photo">
			 <li>
                <img src="/static/image/No_img.png" class="img" ng-click ="">
            </li>
            <li>
                <p>제목: ㅇㅇㅇ</p>
                <p>작성자: ㅇㅇㅇ</p>
                <p>작성일: 0000.0000.0000</p>
            </li>
        </ul>
        
        <ul class ="photo">
			 <li>
                <img src="/static/image/No_img.png" class="img">
            </li>
            <li>
                <p>제목: ㅇㅇㅇ</p>
                <p>작성자: ㅇㅇㅇ</p>
                <p>작성일: 0000.0000.0000</p>
            </li>
        </ul>
        
        <ul class ="photo">
			 <li>
                <img src="/static/image/No_img.png" class="img">
            </li>
            <li>
                <p>제목: ㅇㅇㅇ</p>
                <p>작성자: ㅇㅇㅇ</p>
                <p>작성일: 0000.0000.0000</p>
            </li>
        </ul>
          <ul class ="photo">
			 <li>
                <img src="/static/image/No_img.png" class="img">
            </li>
            <li>
                <p>제목: ㅇㅇㅇ</p>
                <p>작성자: ㅇㅇㅇ</p>
                <p>작성일: 0000.0000.0000</p>
            </li>
        </ul>
          <ul class ="photo">
			 <li>
                <img src="/static/image/No_img.png" class="img">
            </li>
            <li>
                <p>제목: ㅇㅇㅇ</p>
                <p>작성자: ㅇㅇㅇ</p>
                <p>작성일: 0000.0000.0000</p>
            </li>
        </ul>
        
         <ul class ="photo">
			 <li>
                <img src="/static/image/No_img.png" class="img">
            </li>
            <li>
                <p>제목: ㅇㅇㅇ</p>
                <p>작성자: ㅇㅇㅇ</p>
                <p>작성일: 0000.0000.0000</p>
            </li>
        </ul>
        
       
         
   </div>

    <div>
        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
            ng-change="changePage()" items-per-page="itemsPerPage" class="pagination-lg" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </ul>
    </div>
</div>
