<div id="container" ng-controller="PhotoUpdate">

   <div class="general_write">사진게시판 글쓰기</div>


	<!-- 시작: 제목 수정 박스 -->
	<div class="title_write">
		<p>제목</p>
		<input type="text" ng-model="photoBoard.title" required>
	</div>
	<!-- 끝: 제목 수정 박스 -->
	
	
	<!-- 시작: 내용 수정 박스 -->
	<div class="content_write">
		<textarea ng-model="photoBoard.text" required></textarea>
	</div>
	<!-- 끝: 내용 수정 박스 -->
	
	
	<!-- 시작: 이미지선택 버튼 -->
	<div>
		<button class="file_btn" ngf-select="onFileSelect($files)" accept="image/*" multiple>이미지선택<br>(최대 100MB)</button>
	</div>
	<!-- 끝: 이미지선택 버튼 -->


	<!-- 시작: 파일이름 표시 박스 -->
	<div class="file_name">
		<div ng-repeat="fileName in fileNames track by $index">{{fileName}} <button ng-click="excludeFile($index)">삭제</button> </div>
	</div>
	<!-- 끝: 파일이름 표시 박스 -->


	<!-- 시작: 게시글 수정 및 취소 버튼 -->
	<div class="write_decision">
		<input type="button" ng-click="updatePhoto()" value="수정">
		<button type="button" ng-click="redirectToPhotoRead()">취소</button>
	</div>
	<!-- 끝: 게시글 수정 및 취소 버튼 -->
	
	
</div>