<div id="container" ng-controller="PhotoCtrl">
    <!-- 글쓰기 박스 시작 -->
    <div>
        <button type="button" class="write_btn" ng-click="redirectToPhotoWrite()">글쓰기</button>
    </div>
    <!-- 글쓰기 박스 끝 -->

    <!-- 검색 유형 선택 박스 시작 -->
    <select class="type_select" ng-model="searchType" ng-change="changeSearchType(searchType)"
        ng-options="type.value as type.name for type in types"></select>
    <!-- 검색 유형 선택 박스 끝 -->

    <!-- 검색어 입력 박스 시작 -->
    <input type="text" class="search" ng-model="keyword" ng-keydown="$event.keyCode === 13 && search()"
        placeholder="검색어 입력">
    <!-- 검색어 입력 박스 끝 -->

    <!-- 검색 버튼 및 검색 초기화 버튼 시작 -->
    <button class="search_btn" ng-click="search()">검색</button>
    <button class="search_reset" ng-click="searchReset()">검색 초기화</button>
    <!-- 검색 버튼 및 검색 초기화 버튼 끝 -->

    <!-- 게시글 총 개수 및 페이지당 게시글 수 선택 박스 시작 -->
    <div>
        <p class="board_all">전체 {{totalItems}}개</p>
        <select class="board_select" ng-model="itemsPerPage" ng-change="updatePage()"
            ng-options="option.value as option.name for option in options"></select>
    </div>
    <!-- 게시글 총 개수 및 페이지당 게시글 수 선택 박스 끝 -->

    <!-- 사진 게시물 박스 시작 -->
    <div class="photo_box">
        <table>
            <tr ng-repeat="list in photoBoardlist">
                <td ng-repeat="item in list">
                    <button class="img-button" ng-click="redirectToPhotoRead(item.index)">
                        <img ng-src='{{thumbnail(item.file[0])}}' alt="이미지" style="width: 135px; height: 135px;" title="{{item.file[0] === undefined ? '사진이 없습니다.' : item.file[0].fileName}}">
                        <p class="photo_p_title"><span class="photo_span">제목:</span> &nbsp;&nbsp;&nbsp; {{item.title}}</p>
                        <p class="photo_p"><span class="photo_span">작성자:</span> {{item.userId}}</p>
                        <p class="photo_p_date"><span class="photo_span">작성일:</span> {{item.createDate | date:'yyyy-MM-dd'}}<br>{{item.createDate | date:'HH:mm:ss'}}</p>
                    </button>
                    <span>
                        <p></p>
                        <div></div>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <!-- 사진 게시물 박스 끝 -->

    <!-- 페이지네이션 박스 시작 -->
    <div>
        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
            ng-change="updatePage()" items-per-page="itemsPerPage" class="pagination-lg" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </ul>
    </div>
    <!-- 페이지네이션 박스 끝 -->
</div>
