<div id="container" ng-controller="BoardUser">

	<!-- 시스템 총 개수 및 페이지당 시스템 수 선택 박스 시작 -->
	<div>
		<p class="system_all">{{totalPage}} 페이지중 {{currentPage}}</p>
		<select class="system_select" ng-model="itemsPerPage" ng-change="updatePage()"
			ng-options="option.value as option.name for option in options"></select>
	</div>
	<!-- 시스템 총 개수 및 페이지당 시스템 수 선택 박스 끝 -->

	<!-- 시작: 게시글 리스트 -->
	<table class="system">
		<thead>
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>권한</th>
				<th>비고</th>
			</tr>
		</thead>
		<tbody>
			<tr class="system_list" ng-repeat="item in userList">
				<td>{{item.id}}</td>
				<td>{{item.username}}</td>
				<td ng-if="!item.updateBox">{{item.gradeId}}</td>
				<td ng-if="item.updateBox">
					<select style="height: 30px;" ng-model="item.selectedGrade"
						ng-options="option.value as option.name for option in gradeOptions"></select>
				</td>
				<td>
					<img class="system_update" ng-click="showUpdateBox(item)" ng-if="!item.updateBox">
					<img class="system_remove" ng-click="deleteUser(item.id)" ng-if="!item.updateBox">
					<button ng-click="updateGrade(item.id, item.selectedGrade)" ng-if="item.updateBox">확인</button>
					<button ng-click="cancelUpdateBox(item)" style="margin-left: 5px;"
						ng-if="item.updateBox">취소</button>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- 끝: 게시글 리스트 -->

	<!-- 시작: 페이지네이션 -->
	<div>
		<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
			ng-change="updatePage()" items-per-page="itemsPerPage" class="pagination-lg" previous-text="&lsaquo;"
			next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
		</ul>
	</div>
	<!-- 끝: 페이지네이션 -->

</div>