<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="utf-8">
	<title>웹프로젝트</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type=text/css th:href="@{/css/comment.css}" />
	<link rel="stylesheet" type=text/css th:href="@{/css/main.css}" />
	<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/angular-resource.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/angular-route.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/angular-animate.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/angular-sanitize.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/ui-bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/factory.js}"></script>
	<script type="text/javascript" th:src="@{/js/read.js}"></script>
	<script th:inline="javascript">

		/*<![CDATA[*/

		var current = /*[[${index}]]*/;

		/*]]>*/

	</script>
</head>

<body ng-app="myApp">
	<div id="container" ng-controller="BoardRead">
		<div class="head">
			<button type="button" class="ipp_btn" th:onclick="|location.href='@{/main}'|">IPP <span
					class="span">게시판</span></button>
			<ul class="menu">
				<li><button type="button" class="btn" th:onclick="|location.href='@{/board}'|">일반게시판</button>
				</li>
				<li><button type="button" class="btn" th:onclick="|location.href='@{/general_manager}'|">사진게시판</button>
				</li>
				<li><button type="button" class="btn" onclick="location.href='dash.html' ">대시보드</button></li>
				<li><button type="button" class="btn" onclick="location.href='file.html' ">파일탐색기</button></li>
			</ul>
		</div>
		<strong>일반게시판</strong>
		<div class="read_btn">
			<button type="button" ng-click="redirectToUpdate(board.index)">수정</button>
				<button type="button" ng-click="remove(board.index)">삭제</button>
		</div>
		<div class="board_wrap">
			<div class="board_view">
				<div class="title">{{board.title}}</div>
				<div class="info">
					<dl>
						<dt>작성자</dt>
						<dd>{{board.userId}}</dd>
					</dl>
					<dl>
						<dt>작성일</dt>
						<dd>{{board.createDate | date:'yyyy-MM-dd'}}&nbsp;&nbsp;{{board.createDate | date:'HH:mm:ss'}}</dd>
					</dl>
				</div>
				<div class="content">{{board.text}}</div>
			</div>
			
		</div>
		<div>
		<ul class="comment">
			<li class="comment-form">
				<form id="commentFrm">
					<h4> 댓글쓰기 <span></span></h4>
					<span class="ps_box">
						<input type="text" placeholder="댓글 내용을 입력해주세요.",class="int" name="content"/>
					</span>
					<input type="submit" class="btn" value="등록" />
				</form>
			</li>
			<li id="comment-list"></li>
		</ul>
	</div>
	</div>

</body>
	
	

</html>