<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>웹프로젝트</title>   
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="container">
    <header>
		<div class="head">
            <button type="button" class="ipp_btn" onclick="location.href='main_display.html' ">IPP 게시판</button>
        <ul class="login">
            <li><input type="text" class="username"></li>
            <li><button type="button" class="btn" onclick="location.href='login.html' " style="position: absolute; top:50px; right: 120px;">로그아웃</button></li>
        </ul>
        </div>
        <div class="user_update">
            <button type="button" class="btn" onclick="location.href='user_update.html' " style="position: absolute; top: 110px; right: 170px;">개인정보수정</button>
        </div>
        <div>
        <ul class="menu">
            <li><button type="button" class="btn" onclick="location.href='general_board.html' ">일반게시판</button></li>
            <li><button type="button" class="btn" onclick="location.href='photo.html' ">사진게시판</button></li>
            <li><button type="button" class="btn" onclick="location.href='dash.html' ">대시보드</button></li>
            <li><button type="button" class="btn" onclick="location.href='file.html' ">파일탐색기</button></li>  
        </ul>
    </header>

    <div>
        <button type="button" class="write_btn" onclick="location.href='board_write.html' ">글쓰기</buttton>
    </div>
    
    <div>
        <input type="text" style="position:absolute; top: 295px; left: 330px; height: 30px; width: 300px;">
    </div>

    <div>
        <button type="button" class="search_btn" onclick="location.href='board_write.html' " style="position: absolute; top: 295px; left: 650px;">검색</buttton>
    </div>

    <div>
        <input type="text" class="board_all">
    </div>

    <select class="board_select">
        <option>5개</option>
        <option>10개</option>
        <option>15개</option>
        <option>20개</option>
    </select>

    <table class="board">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th> 
          </tr>
        </thead>

        <tbody>
        <tr>
            <td>5</td>
            <td><a href="">ipp프로젝트</a></td>
            <td>작성자</td>
            <td>작성일</td> 
          </tr>

          <tr>
            <td>4</td>
            <td><a href="">ipp프로젝트</a></td>
            <td>작성자</td>
            <td>작성일</td> 
          </tr>

          <tr>
            <td>3</td>
            <td><a href="">ipp프로젝트</a></td>
            <td>작성자</td>
            <td>작성일</td> 
          </tr>

          <tr>
            <td>2</td>
            <td><a href="">ipp프로젝트</a></td>
            <td>작성자</td>
            <td>작성일</td> 
          </tr>

          <tr>
            <td>1</td>
            <td><a href="">ipp프로젝트</a></td>
            <td>작성자</td>
            <td>작성일</td> 
          </tr>
        </tbody>
    </table>
    
</div>
</body>
</html>