<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>웹프로젝트</title>   
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="container">
    <header>
		<div class="head">
            <button type="button" class="ipp_btn" onclick="location.href='login.html' " style="position: absolute; left: 100px;">IPP 게시판</button>
        <ul class="login">
            <li><input type="text" id="username" style="position: absolute; top:50px; right: 270px;"></li>
            <li><button type="button" class="btn" onclick="location.href='login.html' " style="position: absolute; top:50px; right: 120px;">로그아웃</button></li>
        </ul>
        </div>
        <div class="user_update">
            <button type="button" class="btn" onclick="location.href='user_update.html' " style="position: absolute; top: 110px; right: 170px;">개인정보수정</button>
        </div>
        <div>
        <ul class="menu">
            <li><button type="button" class="btn" onclick="location.href='general.html' ">일반게시판</button></li>
            <li><button type="button" class="btn" onclick="location.href='photo.html' ">사진게시판</button></li>
            <li><button type="button" class="btn" onclick="location.href='dash.html' ">대시보드</button></li>
            <li><button type="button" class="btn" onclick="location.href='file.html' ">파일탐색기</button></li>  
        </ul>
        </div>
    </header>

    <div>
        <ul>
        <li></li>
        </ul>
    </div>

</body>
</html>