<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="utf-8">
	<title>웹프로젝트</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type=text/css th:href="@{/css/main.css}" />
	<script type="text/javascript" th:src="@{/js/board.js}"></script>
</head>

<body>
	<div id="container">
		<div class="head">
			<button type="button" class="ipp_btn" th:onclick="|location.href='@{/main_display}'|">IPP <span
					class="span">게시판</span></button>
			<ul class="menu">
				<li><button type="button" class="btn" th:onclick="|location.href='@{/general_board}'|">일반게시판</button>
				</li>
				<li><button type="button" class="btn" th:onclick="|location.href='@{/general_manager}'|">사진게시판</button>
				</li>
				<li><button type="button" class="btn" onclick="location.href='dash.html' ">대시보드</button></li>
				<li><button type="button" class="btn" onclick="location.href='file.html' ">파일탐색기</button></li>
			</ul>
		</div>

		<div class="general_write">일반게시판 글쓰기</div>

		<form id="board_form">

			<div class="title_write">
				<p>제목</p>
				<p>IPP인턴프로젝트</p>
			</div>

			<div class="content_write">
				<textarea>
IPP인턴프로젝트입니다.
IPP인턴프로젝트입니다.
IPP인턴프로젝트입니다.
IPP인턴프로젝트입니다.
IPP인턴프로젝트입니다.
				</textarea>
			</div>

			<div>
				<button type="button" class="file_btn" onclick="">파일선택<br>(최대 100MB)</button>
			</div>

			<div class="file_name">
				<p>IPP 인턴 프로젝트 설계서.pptx<br>
					IPP 프로젝트 일정.txt</p>
			</div>

			<div class="write_decision">
				<input type="submit" value="수정">
				<button type="button" th:onclick="|location.href='@{/general_board}'|">취소</button>
			</div>
		</form>
	</div>