<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Spring Boot - Angularjs Example</title>
	<script src="libs/angular.min.js" type="text/javascript"></script> <!-- AngularJS 라이브러리 로드 -->
	<script src="js/controller.js" type="text/javascript"></script> <!-- "controller.js" 파일 로드 -->
</head>

<body ng-app="app"> <!-- AngularJS 애플리케이션 정의 -->
	<div ng-controller="controller"> <!-- "controller.js" 컨트롤러 사용 -->
		<button id="btn-id" ng-click="clickfunction()">Press for Time</button> <!-- 버튼을 누르면 "clickfunction()" 함수 실행 -->
		<p ng-bind="welcome"></p> <!-- "welcome" 변수의 값을 화면에 출력 -->
	</div>
</body>

</html>