<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Spring Boot - Angularjs Example</title>
<script src="angular.min.js" type="text/javascript"></script> <!-- angular.min.js 라이브러리를 가져옴 -->
<script src="angular-resource.min.js"></script> <!-- angular resource 라이브러리를 가져옴 -->
<!--<script src="controller.js" type="text/javascript"></script>  controller.js 파일을 가져옴 -->
<script>
	var app = angular.module("myApp",['ngResource']);        // myApp 모듈 생성 시 ngResource를 불러옴
</script>
<script src="factory.js" type="text/javascript"></script>
<script>
	app.controller("myCtrl", function($scope,$resource, BoardFactory) {   // myCtrl 컨트롤러 생성 시 $scope, $resource를 사용하여 정의
		
		var board = BoardFactory.query({}, function(res) { // 'BoardFactory'의 'query'메소드 호출
			$scope.boardlist = res; // $scope 객체의 'boardlist'에 데이터 할당
		});
	
		// $resource 사용 -> Rest API 호출 -> html에 데이터 표시
	});
</script>
</head>
<body ng-app="myApp">                                        <!-- AngularJS 어플리케이션 정의 -->                                                            
	<div ng-controller="myCtrl">                             <!-- AngularJS 컨트롤러 정의 --> 
		<table border="1">
		<tr>                                                 <!-- 테이블의 헤더 정의 -->
			<td style="width: 40px">No.</td>
			<td style="width: 150px">Title</td>
			<td style="width: 150px">content</td>
			<td style="width: 80px">userid</td>
			<td style="width: 200px">createdate</td>
		</tr>
		
		<tr ng-repeat="item in boardlist">                   <!-- ng-repeat를 사용하여 배열의 각 항목을 반복하며 생성 -->
			<td style="width: 40px">{{$index+1}}</td>
			<td style="width: 150px">{{item.title}}</td>
			<td style="width: 150px">{{item.text}}</td>
			<td style="width: 80px">{{item.userId}}</td>
			<td style="width: 200px">
             {{item.createDate | date:'yyyy-MM-dd'}}<br>{{item.createDate | date:'HH:mm:ss'}}
             </td>
		</tr>
	</table>
	</div>
</body>
</html>