<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
   <meta charset="utf-8">
   <title>웹프로젝트</title>
   <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/static/css/hwang.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/static/css/park.css}" />
   <script type="text/javascript" th:src="@{/static/js/angularjs/angular.min.js}"></script>
   <script type="text/javascript" th:src="@{/static/js/angularjs/angular-resource.min.js}"></script>
   <script type="text/javascript" th:src="@{/static/js/login.js}"></script>
</head>

<body ng-app="myApp">
   <div id="container" ng-controller="BoardLogin">

      <form th:action="@{/j_security_check}" method="post">
         <h1 class="login_title">IPP<span>게시판</span></h1>

         <input type="text" name="username" class="login_id" placeholder="아이디를 입력해주세요." th:value="${username}" required>
         <input type="password" name="password" class="login_pw" placeholder="비밀번호를 입력해주세요." autocomplete="off"
            required>
            
         <div th:if="${param.error}">
            <p th:text="${exception}" class="login_alert"></p>
         </div>

         <button class="login_btn">로그인</button>
      </form>

		<button class="signup_btn" ng-click="redirectToSignup()">회원가입</button>
		
   </div>
</body>

</html>