<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="utf-8">
	<title>웹프로젝트</title>
	<link rel="stylesheet" type="text/css" th:href="@{static/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{static/css/hwang.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{static/css/park.css}" />
	<script type="text/javascript" th:src="@{static/js/angularjs/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{static/js/angularjs/angular-resource.min.js}"></script>
	<script type="text/javascript" th:src="@{static/js/factory.js}"></script>
	<script type="text/javascript" th:src="@{static/js/login.js}"></script>
</head>

<body ng-app="myApp">
	<div id="container" ng-controller="BoardHead">

		
		
	</div>
</body>

</html>