<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 만들기</title>

<link th:href="@{/css/Main_Display.css}" rel="stylesheet">
</head>
<body>
		<div id="container">
    <header>
        <a href="MainDisplay.html"><img id="logotype" src="image/Main_logo.png" alt="메인로고"></a>
        <hr class="separator">  추가된 줄 
		<ul class="button-list">
			<li><a class="button" href="일반게시판.html">일반게시판</a></li>
			<li><a class="button" href="사진게시판.html">사진게시판</a></li>
			<li><a class="button" href="대시보드.html">대시보드</a></li>
			<li><a class="button" href="파일탐색기.html">파일탐색기</a></li>
		</ul>
    </header>

</body>
</html>