<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>웹프로젝트</title>
    <link rel="stylesheet" href="css/bootstrap.css">  
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="container">
		<div class="head">
            <button type="button" class="ipp_btn" onclick="location.href='main_display.html' ">IPP <span class="span">게시판</span></button>
        <!--<ul class="login">
            <li><input type="text" class="username"></li>
            <li><button type="button" class="btn" onclick="location.href='login.html' " style="position: absolute; top:50px; right: 120px;">로그아웃</button></li>
        </ul>-->
        </div>
        <!--<div class="user_update">
            <button type="button" class="btn" onclick="location.href='user_update.html' " style="position: absolute; top: 110px; right: 170px;">개인정보수정</button>
        </div>-->
        <div>
        <ul class="menu">
            <li><button type="button" class="btn" onclick="location.href='general_board.html' ">일반게시판</button></li>
            <li><button type="button" class="btn" onclick="location.href='photo.html' ">사진게시판</button></li>
            <li><button type="button" class="btn" onclick="location.href='dash.html' ">대시보드</button></li>
            <li><button type="button" class="btn" onclick="location.href='file.html' ">파일탐색기</button></li>  
        </ul>
        </div>

    <div class="board_best">
        <h2>게시글 베스트</h2>
        <ul class="best">
            <li><button type="button" class="best_btn" onclick="location.href='' ">게시물 1</button></li>
            <li><button type="button" class="best_btn" onclick="location.href='' ">게시물 2</button></li>
            <li><button type="button" class="best_btn" onclick="location.href='' ">게시물 3</button></li>
            <li><button type="button" class="best_btn" onclick="location.href='' ">게시물 4</button></li>  
        </ul>
    </div>
    <div class="reply">
        <ul class="reply_number">
            <li>(125)</li>
            <li>(103)</li>
            <li>(88)</li>
            <li>(52)</li>
        </ul>
    </div>
</div>
</body>
</html>